@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{font-family: 'Lato', sans-serif;}
img{
	max-width: 100%;
	display: block;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
header{}
.top-header{
    padding-top: 20px;
    overflow: hidden;
    vertical-align: middle;
    padding-bottom: 3px;
}
.logo{
    width: 35%;
    float: left;
}
.logo img{}
.nav{
    width: 65%;
    float: left;
    text-align: right;
    padding-top: 10px;
    position: relative;
    z-index: 0;
}
.nav ul{}

.hand::after{
	content: '';
	z-index: +1;
	position: absolute;
	top: 25px;
	left: 10px;
	background-image: url(../img/hand.png);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
.nav ul li{
    display: inline-block;
    position: relative;
}
{}

/*.top-header::after{
	content: '';
	color: #dadadaab;
	padding: 2px;
}*/
hr{
    margin: 21px 0px;
    color: #dadada;
}
.nav-bar{
}
.nav-bar ul{}
.nav-bar ul li{
    display: inline-block;
    list-style: none;
    margin-right: 40px;
}
.nav-bar ul li a{
    text-decoration: none;
    font-weight: 600;
    color: #727272;
} 
.nav-bar ul li a:hover{
	color:#2dcc70;
	font-weight: 600;
}
.hero-section{
    margin-top: 30px;
}
.banner{
    background-image: url(../img/bannerbg.jpg);
    height: 500px;
    position: relative;
}
.banner img{
    position: absolute;
    bottom: -12%;
    right: 20%;
}
.hero-content{padding-top: 100px;text-align: center;}
.hero-content p{
    text-transform: uppercase;
    color: #727272;
    padding-bottom: 25px;
}
.hero-content button{
    padding: 15px;
    color: #fff;
    font-weight: 600;
    background: #2dcc70;
    border: none;
    margin-bottom: 5000px;
    border-radius: 5px;
}